langchain
langchain-community
langchain-groq
python-dotenv
pinecone
pinecone_text
sentence-transformers
duckduckgo-search
langchain-experimental
SpeechRecognition
pyttsx3
pyaudio
whisper
ffmpeg-python
elevenlabs==0.3.0b0
rpaudio
pillow
pyt2s